In [ ]:
#Machine learning Model on a Thyroid Dataset to predict the presence of thyroid.

In [40]:
#Our Dependents
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [41]:
data = pd.read_csv('C:/Users/user pc/Downloads/Thyroid Pred/hypothyroid.csv')
data.head()

,Age,sex,thyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,TT4measured,T4,T4Umeasured,T4U,FTImeasured,FTI,TBGmeasured,TBG,referral source,binaryClass
0,12,F,f,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,?,SVHC,P
1,20,M,f,f,f,f,f,f,f,f,...,t,102.0,f,0.00,f,0.0,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175.0,f,0.00,f,0.0,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,?,SVI,P

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3770 entries, 0 to 3769
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      3770 non-null   int64
 1   sex                      3620 non-null   object
 2   thyroxine                3770 non-null   object
 3   queryonthyroxine         3770 non-null   object
 4   onantithyroidmedication  3770 non-null   object
 5   sick                     3770 non-null   object
 6   pregnant                 3770 non-null   object
 7   thyroidsurgery           3770 non-null   object
 8   I131treatment            3770 non-null   object
 9   queryhypothyroid         3770 non-null   object
 10  queryhyperthyroid        3770 non-null   object
 11  lithium                  3770 non-null   object
 12  goitre                   3770 non-null   object
 13  tumor                    3770 non-null   object
 14  hypopituitary            3770 non-null   object
 15  psych                    3770 non-null   object
 16  TSHmeasured              3770 non-null   object
 17  TSH                      3770 non-null   float64
 18  T3measured               3770 non-null   object
 19  T3                       3770 non-null   float64
 20  TT4measured              3770 non-null   object
 21  T4                       3770 non-null   float64
 22  T4Umeasured              3770 non-null   object
 23  T4U                      3770 non-null   float64
 24  FTImeasured              3770 non-null   object
 25  FTI                      3770 non-null   float64
 26  TBGmeasured              3770 non-null   object
 27  TBG                      3770 non-null   object
 28  referral source          3770 non-null   object
 29  binaryClass              3770 non-null   object
dtypes: float64(5), int64(1), object(24)
memory usage: 883.7+ KB

In [43]:
data.describe()

,Age,TSH,T3,T4,T4U,FTI
count,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000
mean,51.724934,4.591025,1.603008,101.678462,0.892921,99.176844
std,20.097915,23.345886,1.097207,43.192637,0.354295,45.851205
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36.000000,0.200000,0.900000,84.000000,0.840000,86.250000
50%,54.000000,1.200000,1.800000,102.000000,0.950000,104.000000
75%,67.000000,2.475000,2.200000,123.000000,1.070000,121.000000
max,455.000000,530.000000,10.600000,430.000000,2.320000,395.000000

In [44]:
#Data Preprocessing
# 1 missing values
data.isna().sum()

Age                          0
sex                        150
thyroxine                    0
queryonthyroxine             0
onantithyroidmedication      0
sick                         0
pregnant                     0
thyroidsurgery               0
I131treatment                0
queryhypothyroid             0
queryhyperthyroid            0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSHmeasured                  0
TSH                          0
T3measured                   0
T3                           0
TT4measured                  0
T4                           0
T4Umeasured                  0
T4U                          0
FTImeasured                  0
FTI                          0
TBGmeasured                  0
TBG                          0
referral source              0
binaryClass                  0
dtype: int64

In [45]:
#percentage of missing values per column
100 * data.isna().sum() /len(data)

Age                        0.00000
sex                        3.97878
thyroxine                  0.00000
queryonthyroxine           0.00000
onantithyroidmedication    0.00000
sick                       0.00000
pregnant                   0.00000
thyroidsurgery             0.00000
I131treatment              0.00000
queryhypothyroid           0.00000
queryhyperthyroid          0.00000
lithium                    0.00000
goitre                     0.00000
tumor                      0.00000
hypopituitary              0.00000
psych                      0.00000
TSHmeasured                0.00000
TSH                        0.00000
T3measured                 0.00000
T3                         0.00000
TT4measured                0.00000
T4                         0.00000
T4Umeasured                0.00000
T4U                        0.00000
FTImeasured                0.00000
FTI                        0.00000
TBGmeasured                0.00000
TBG                        0.00000
referral source            0.00000
binaryClass                0.00000
dtype: float64

In [46]:
data.sex.value_counts()

F    2477
M    1143
Name: sex, dtype: int64

In [47]:
data['sex'].fillna(value='M',inplace=True)

In [48]:
data.isna().sum()

Age                        0
sex                        0
thyroxine                  0
queryonthyroxine           0
onantithyroidmedication    0
sick                       0
pregnant                   0
thyroidsurgery             0
I131treatment              0
queryhypothyroid           0
queryhyperthyroid          0
lithium                    0
goitre                     0
tumor                      0
hypopituitary              0
psych                      0
TSHmeasured                0
TSH                        0
T3measured                 0
T3                         0
TT4measured                0
T4                         0
T4Umeasured                0
T4U                        0
FTImeasured                0
FTI                        0
TBGmeasured                0
TBG                        0
referral source            0
binaryClass                0
dtype: int64

In [49]:
data.head()

,Age,sex,thyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,TT4measured,T4,T4Umeasured,T4U,FTImeasured,FTI,TBGmeasured,TBG,referral source,binaryClass
0,12,F,f,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,?,SVHC,P
1,20,M,f,f,f,f,f,f,f,f,...,t,102.0,f,0.00,f,0.0,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175.0,f,0.00,f,0.0,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,?,SVI,P

In [50]:
data.thyroxine.value_counts()

f    3307
t     463
Name: thyroxine, dtype: int64

In [51]:
data.TBG.value_counts()

?    3770
Name: TBG, dtype: int64

In [52]:
data.drop('TBG',axis=1,inplace=True)

In [53]:
data.head()

,Age,sex,thyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,T3,TT4measured,T4,T4Umeasured,T4U,FTImeasured,FTI,TBGmeasured,referral source,binaryClass
0,12,F,f,f,f,f,f,f,f,f,...,2.5,t,125.0,t,1.14,t,109.0,f,SVHC,P
1,20,M,f,f,f,f,f,f,f,f,...,2.0,t,102.0,f,0.00,f,0.0,f,other,P
2,46,M,f,f,f,f,f,f,f,f,...,0.0,t,109.0,t,0.91,t,120.0,f,other,P
3,70,F,t,f,f,f,f,f,f,f,...,1.9,t,175.0,f,0.00,f,0.0,f,other,P
4,70,F,f,f,f,f,f,f,f,f,...,1.2,t,61.0,t,0.87,t,70.0,f,SVI,P

In [54]:
data.columns

Index(['Age', 'sex', 'thyroxine', 'queryonthyroxine',
       'onantithyroidmedication', 'sick', 'pregnant', 'thyroidsurgery',
       'I131treatment', 'queryhypothyroid', 'queryhyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSHmeasured', 'TSH',
       'T3measured', 'T3', 'TT4measured', 'T4', 'T4Umeasured', 'T4U',
       'FTImeasured', 'FTI', 'TBGmeasured', 'referral source', 'binaryClass'],
      dtype='object')

In [55]:
data.drop('referral source',axis=1,inplace=True)

In [56]:
#Numerical Dimensions
#Age	TSH	T3	T4	T4U	FTI
#We replace the value False -  0  and True - 1
data.replace({'thyroxine' : {'f': 0, 't': 1}},inplace=True)

In [57]:
data.replace({'queryonthyroxine' : {'f': 0, 't': 1}},inplace=True)
data.replace({'onantithyroidmedication' : {'f': 0, 't': 1}},inplace=True)
data.replace({'sick' : {'f': 0, 't': 1}},inplace=True)
data.replace({'pregnant' : {'f': 0, 't': 1}},inplace=True)
data.replace({'thyroidsurgery' : {'f': 0, 't': 1}},inplace=True)
data.replace({'I131treatment' : {'f': 0, 't': 1}},inplace=True)
data.replace({'queryhypothyroid' : {'f': 0, 't': 1}},inplace=True)
data.replace({'queryhyperthyroid' : {'f': 0, 't': 1}},inplace=True)
data.replace({'lithium' : {'f': 0, 't': 1}},inplace=True)
data.replace({'goitre' : {'f': 0, 't': 1}},inplace=True)
data.replace({'tumor' : {'f': 0, 't': 1}},inplace=True)
data.replace({'hypopituitary' : {'f': 0, 't': 1}},inplace=True)
data.replace({'psych' : {'f': 0, 't': 1}},inplace=True)
data.replace({'TSHmeasured' : {'f': 0, 't': 1}},inplace=True)
data.replace({'T3measured' : {'f': 0, 't': 1}},inplace=True)
data.replace({'TT4measured' : {'f': 0, 't': 1}},inplace=True)
data.replace({'T4Umeasured' : {'f': 0, 't': 1}},inplace=True)
data.replace({'FTImeasured' : {'f': 0, 't': 1}},inplace=True)
data.replace({'TBGmeasured' : {'f': 0, 't': 1}},inplace=True)

In [58]:
data.describe()

,Age,thyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,queryhyperthyroid,...,TSH,T3measured,T3,TT4measured,T4,T4Umeasured,T4U,FTImeasured,FTI,TBGmeasured
count,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,...,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.000000,3770.0
mean,51.724934,0.122812,0.013263,0.011406,0.038992,0.014058,0.014058,0.015385,0.062069,0.062865,...,4.591025,0.796021,1.603008,0.938727,101.678462,0.897347,0.892921,0.897878,99.176844,0.0
std,20.097915,0.328264,0.114412,0.106201,0.193602,0.117747,0.117747,0.123093,0.241313,0.242752,...,23.345886,0.403007,1.097207,0.239863,43.192637,0.303545,0.354295,0.302849,45.851205,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.200000,1.000000,0.900000,1.000000,84.000000,1.000000,0.840000,1.000000,86.250000,0.0
50%,54.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.200000,1.000000,1.800000,1.000000,102.000000,1.000000,0.950000,1.000000,104.000000,0.0
75%,67.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.475000,1.000000,2.200000,1.000000,123.000000,1.000000,1.070000,1.000000,121.000000,0.0
max,455.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,530.000000,1.000000,10.600000,1.000000,430.000000,1.000000,2.320000,1.000000,395.000000,0.0

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3770 entries, 0 to 3769
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      3770 non-null   int64
 1   sex                      3770 non-null   object
 2   thyroxine                3770 non-null   int64
 3   queryonthyroxine         3770 non-null   int64
 4   onantithyroidmedication  3770 non-null   int64
 5   sick                     3770 non-null   int64
 6   pregnant                 3770 non-null   int64
 7   thyroidsurgery           3770 non-null   int64
 8   I131treatment            3770 non-null   int64
 9   queryhypothyroid         3770 non-null   int64
 10  queryhyperthyroid        3770 non-null   int64
 11  lithium                  3770 non-null   int64
 12  goitre                   3770 non-null   int64
 13  tumor                    3770 non-null   int64
 14  hypopituitary            3770 non-null   int64
 15  psych                    3770 non-null   int64
 16  TSHmeasured              3770 non-null   int64
 17  TSH                      3770 non-null   float64
 18  T3measured               3770 non-null   int64
 19  T3                       3770 non-null   float64
 20  TT4measured              3770 non-null   int64
 21  T4                       3770 non-null   float64
 22  T4Umeasured              3770 non-null   int64
 23  T4U                      3770 non-null   float64
 24  FTImeasured              3770 non-null   int64
 25  FTI                      3770 non-null   float64
 26  TBGmeasured              3770 non-null   int64
 27  binaryClass              3770 non-null   object
dtypes: float64(5), int64(21), object(2)
memory usage: 824.8+ KB

In [60]:
data.binaryClass.value_counts()

P    3479
N     291
Name: binaryClass, dtype: int64

In [61]:
data.replace({'binaryClass' : {'P' : 1, 'N': 0}},inplace=True)

In [62]:
data.binaryClass.value_counts()

1    3479
0     291
Name: binaryClass, dtype: int64

In [63]:
data.drop('sex',axis=1,inplace=True)

In [64]:
#Splitting Our Data
X =  data.drop('binaryClass',axis=1)
y =  data['binaryClass']

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [66]:
print(X.shape, X_train.shape, X_test.shape)

(3770, 26) (2525, 26) (1245, 26)

In [68]:
#Scaling Our Data
from sklearn.preprocessing import StandardScaler
scaler =  StandardScaler()
X_train =  scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [69]:
#Creating our Model
model =  LogisticRegression()

In [70]:
#Model Training 
model.fit(X_train, y_train)

LogisticRegression()

In [71]:
#Our Model Prediction
thyroid_prediction = model.predict(X_test)

In [75]:
#Model Accuracy
#training accuracy

train_pred =  model.predict(X_train)
print(f'Our model training-prediction accuracy is {accuracy_score(train_pred,y_train) * 100:.2f}%')


#Our Test Prediction Accuracy
print(f'Our model test_prediction accuracy is {accuracy_score(thyroid_prediction,y_test) * 100:.2f}%')

Our model training-prediction accuracy is 96.63%
Our model test_prediction accuracy is 96.22%

In [96]:
#a Function to predict a random Entry
def model_test():
    test_sample = data.sample()
    value = test_sample['binaryClass'].item()
    test_sample.drop('binaryClass',axis=1,inplace=True)
    
    test_sample = scaler.transform(test_sample)
    prediction = model.predict(test_sample)
    print(f'our model prediction is {prediction} and our actual prediction is {value}')
    print('Where 1 is POSITIVE and 0 is NEGATIVE')

In [98]:
#model prediction Vs Actual Value
model_test()

our model prediction is [1] and our actual prediction is 1
Where 1 is POSITIVE and 0 is NEGATIVE